
<div class='main-navigation-container'>
    <div class='main-navigation-logo-wrapper'>
        Logo
    </div>

    <div class='main-navigation-links-wrapper'>
        <%= link_to 'Home', root_path, class: 'nav-link' %>
        <%= link_to 'Options', options_path, class: 'nav-link' %>
        <%= link_to 'Posts', posts_path, class: 'nav-link' %>
    </div>

    <div class='main-navigation-auth-links-wrapper'>
        auth links
    </div>
</div>